.App {
   background-color: rgb(0, 0, 0);
   background-image: url("https://previews.dropbox.com/p/thumb/ABJn8jWLbwx7Rzg71TOfZit8oZKqLILM3VRuqlNA0yyjLgl5XIRrWIi5m8XHlA2HrE1mzTrUUUUR8NPk73pZktb7dwYdjI7ad2b1CshYXx07C38Fo-7v_fjMRaqzvlM4-bg7fvLmfQEaaYn1vIrgyLKGf7JsQ_qBEtdyYzsZS_o2-5fDFlroMW3DM15N3jcfJbt10qlP80ecJRVbP7LsiQJh0xfNGAP60N8_sW-pa98cNcId2hTULiIZcLJnIE9-MLVy3dqzBqeSsQexBQpNj5fkNq_8K3CYNpjYk3BJglGPv5CfZc4_jvn0CD8n7pqqoM82LR8ggPcPCPgHT4qlTQFsOpd7d_-60OIsWIsuJxaZzQ/p.png?fv_content=true&size_mode=5"); 
   background-repeat: no-repeat center;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

body {
    margin: 0;
}

