.App {
   background-color: rgb(0, 0, 0);
   background-image: url("https://dl.dropboxusercontent.com/s/x9xz5pczy5lcn85/hummingbird%203%20see%20through.png?dl=0"); 
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: 100%;
}

body {
    margin: 0;
}

